anndata
matplotlib
numpy
pandas
pip
pydeseq2
scanpy
scipy
seaborn
setuptools
shapely
scikit-image
spatialdata
spatialdata_io
spatialdata_plot
squidpy
wheel
ipywidgets
leidenalg
pybanksy
scvi-tools
cellcharter
lightning